/*-------------------------
   Blog Styles
-------------------------*/

.blog-layout1 {
    .blog-wrp {
        position: relative;
        .blog-title-wrp {
            margin-bottom: 80px;

            .blog-title {
                .title {
                    span {
                        a {
                            color: #D3224D;
                        }
                    }
                }
            }
        }

        .news-cart-wrp {
            position: relative;
            z-index: 2;

            .news-cart-img {
                width: 100%;
                position: relative;
                overflow: hidden;
                display: block;

                img {
                    width: 100%;
                    transform: scale(1);
                    overflow: hidden;
                    transition: all 0.6s;
                }
            }

            .news-card-details-wrp {
                padding: 58px 40px 40px 36px;
                border-left: 1px solid #D3DBE2;
                border-right: 1px solid #D3DBE2;
                border-bottom: 1px solid #D3DBE2;
                .news-cart-title {
                    margin-bottom: 25px;
                    font-weight: 500;
                    font-size: 24px;

                    &:hover {
                        a {
                            color: #D3224D;
                        }
                    }
                }

                .news-cart-details {
                    color: #506172;
                    font-weight: 400;
                }

                .news-cart-author-wrp {
                    display: flex;
                    margin-bottom: 20px;
                    gap: 16px;

                    .author {
                        gap: 8px;

                        .author-img {
                            border: 1px solid #D3DBE2;
                            padding: 10px 11px;
                            border-radius: 50%;
                            line-height: 0;
                        }

                        a {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 400;
                            color: #57585F;
                        }

                        &:hover {
                            a {
                                color: #555555;
                            }

                            .author-img img {
                                animation: fadeInDown 1s forwards;
                            }
                        }
                    }

                    .comment {
                        gap: 8px;

                        .comment-icon {
                            font-size: 16px;
                            border: 1px solid #D3DBE2;
                            padding: 6px 9px;
                            border-radius: 50%;
                            color: #D3224D;
                        }

                        a {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 400;
                            color: #57585F;
                        }

                        &:hover {
                            a {
                                color: #555555;
                            }

                            .comment-icon i {
                                animation: fadeInDown 1s forwards;
                            }
                        }
                    }
                }
            }

            .date-wrp {
                background-color: #081933;
                display: inline-block;
                text-align: center;
                padding: 14px 10px;
                position: absolute;
                top: 40%;
                left: 7%;

                .date {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 24px;
                    color: var(--color-white);
                    font-family: var(--font-secondary);
                }

                .month {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    color: var(--color-white);
                }
            }

            &:hover {
                .news-cart-img img {
                    transform: scale(1.1);
                }
            }
        }
        .shape{
            position: absolute;
            top: 30%;
            left: 3%;
            z-index: 1;
            animation: movingCircle 20s linear infinite;
        }
        .shape-2{
            position: absolute;
            top: 82%;
            right: 65px;
            z-index: 1;
        }
        @keyframes movingCircle {
            100% {
              transform: translateX(0) rotate(360deg);
            }
          } 
    }
}