/*-------------------------
   About Styles
-------------------------*/



.stadum-about{
   .about-img{
      position: relative;
      .about-img-1{
         position: relative;
         z-index: 10;
      }
      .about-img-2{
         position: absolute;
         top: 50%;
         left: 40%;
      }
      .about-img-3{
         position: absolute;
         top: 75%;
         left: 19%;
         z-index: 12;
      }
      .shape{
         position: absolute;
         top: 95%;
         left: -34px;
         z-index: 11;
      }
      .shape-2{
         position: absolute;
         top: 8%;
         right: 27%;
         z-index: 8;
      }
   }
   .about-details-wrp{
      margin-left: 65px;
      .about-title{
         margin-bottom: 64px;
         .title{
            span{
               a{
                  color: #D3224D;
               }
            }
         }
      }
      .about-details-txt-wrp{
         .about-details-txt{
            p{
               color: #506172;
            }
         }
         .about-details-txt-2{
            margin-bottom: 56px;
            p{
               color: #506172;
            }
         }
      }
      .about-us-wrp{
         gap: 40px;
         margin-bottom: 56px;
         .about-us{
            ul{
               li{
                  color: #506172;
                  font-weight: 600;
                  i{
                     margin-right: 16px;
                     color: #D3224D;
                  }
               }
            }
         }
      }
   }
}