/*-------------------------
   Instructors Styles
-------------------------*/


.instructors-layout1 {
  background: #FFF6F8;
  .instructors-wrp {
    position: relative;
    .instructors-title-wrp {
      .instructors-title {
        margin-bottom: 40px;

        .title {
          span {
            a{
                color: #D3224D;
            }
          }
        }
      }
    }
    .instructors{
      z-index: 2;
    .instructors-content-wrp {
      .instructors-img-wrp {
        position: relative;

        &:hover {
          .base {
            transition: background 0.6s ease;

            &::before {
              transition: border-bottom-color 0.6s ease;
            }
          }

          .instructors-content {
            transform: translateY(0);
            opacity: 1;
            transition: all 0.6s ease;
          }
        }

        img {
          width: 100%;
        }

        .instructors-content {
          position: absolute;
          top: 56%;
          left: 4%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          transform: translateY(100%);
          opacity: 0;
          transition: all 0.6s ease;

          .instructors-content-wrp {
            position: relative;
            bottom: 28px;
            left: 0;
            .arrow-icon {
              margin-bottom: 10px;

              a {
                border: 1px solid #B7C2CC;
                border-radius: 50%;
                padding: 10px 16px;
                background-color: var(--color-white);

                svg {
                  position: relative;
                  top: -2px;
                }
              }
            }

            .title {
              font-size: 24px;
              font-weight: 500;
              margin-bottom: 6px;

              a {
                color: #081933;
                transition: color 0.3s ease;
              }
            }

            .details {
              font-size: 16px;
              font-weight: 500;
              color: #506172;
              margin-bottom: 16px;
              transition: color 0.3s ease;
            }

            .social-media {
              ul {
                gap: 16px;
                padding: 0;
                margin: 0;

                li {
                  a {
                    color: #081933;
                    font-size: 16px;
                    transition: color 0.3s ease;
                    background-color: var(--color-white);
                    padding: 10px 16px;
                    border-radius: 50%;
                    &:hover i {
                      color: #D3224D;
                      animation: fadeInDown 1s forwards;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .base {
        &:hover {
          background: #D3224D;
          transition: background 0.6s ease;

          &::before {
            border-bottom-color: #D3224D;
            transition: border-bottom-color 0.6s ease;
          }

          .instructors-content-wrp{
            .title{
                a{
                    color: var(--color-white);
                    transition: color 0.3s ease;
                }
            }
            .details{
                color: var(--color-white);
                transition: color 0.3s ease;
            }
          }
        }

        background: var(--color-white);
        display: block;
        height: 173px;
        position: relative;
        width: 347px;
        transition: background 0.6s ease;

        &::before {
          border-bottom: 35px solid var(--color-white);
          border-left: 173px solid transparent;
          border-right: 173px solid transparent;
          content: "";
          height: 0;
          left: 0;
          position: absolute;
          top: -35px;
          width: 347px;
          transition: border-bottom-color 0.6s ease;
        }
      }
    }
  }
    .shape{
        position: absolute;
        top: 0;
        right: 14%;
        animation: movingrightleft 20s linear infinite;
    }
    .shape-2{
        position: absolute;
        bottom: 0;
        right: 3%;
        z-index: 1;
        animation: movingCircle 20s linear infinite;
    }
    @keyframes movingrightleft {
      0% {
        transform: translateX(0) rotate(0deg);
      }
      20% {
        transform: translateX(60px) rotate(15deg);
      }
      40% {
        transform: translateX(-50px) rotate(-15deg);
      }
      60% {
        transform: translateX(40px) rotate(10deg);
      }
      80% {
        transform: translateX(-30px) rotate(-10deg);
      }
      100% {
        transform: translateX(0) rotate(0deg);
      }
    } 
    @keyframes movingCircle {
      100% {
        transform: translateX(0) rotate(360deg);
      }
    } 
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 45px;
    height: 45px;
    background-color: var(--color-white);
    opacity: 1;
    color: var(--color-white);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #D3224D;
    }

    &:hover svg path {
      fill: var(--color-white);
    }

    svg {
      width: 20px;
      height: 20px;

      path {
        fill: #081933;
        transition: fill 0.3s ease;
      }
    }
  }

  .slick-prev {
    left: 93%;
    top: -63px;

    &::before {
      content: "";
      position: absolute;
    }

    svg {
      transform: rotate(180deg);
    }
  }

  .slick-next {
    right: 5px;
    top: -63px;

    &::before {
      content: "";
      position: absolute;
    }
  }
}